.LoginPage {
    display: flex;
    flex-direction: column;
}
/* top margin is big to show the content under header */
.signIn {
    width: 380px;
    max-width: 380px;
    border:3px solid black;
    margin: 200px auto 405px auto;
    text-align: center;
    box-shadow: 0 3px 3px 0 black;
}
.LoginButton {
    background-color: black;
    color: white;
    border: none;
    padding : 5px 10px;
    margin:10px;
    font-size: 20px;
}
#forgotPassword {
    color: rgba(0, 0, 0, 0.788);
    background-color: white;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;
}

.err {
    color:red;
}

.success {
    color:green;
}
input {
    padding: 10px 10px;
    margin-top: 5px;
    width:70%;
    border: 1px solid #999;
    outline:none;
}

.LoginH2 {
    margin: 5px 0 10px 0;
}

button {
    width:60%;
    padding: 0 10px;
}