body {
    margin: 0;
    padding: 0;
    width: 100%;
	display: flex;
    flex-direction: column;

    font-size: 18px;
	line-height: 1.8em;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;

}

// this solve the issue of white space in the page 
html, body {
    overflow-x:hidden 
} 