@import '../../sass/Variables&Mixins';

.Home {
    width: 100%;
    @include displayFlex();

    img {
        max-width: 100%;
        width: 100%;
        height: calc(100vw * 0.556) ;
    }
    .carousel{
        margin-top: 47px;
    }
    @media screen and (max-width: 900px) {
        .carousel{
            margin-top: 39px;
        }
    }  
    @media screen and (max-width: 360px) {
        .carousel{
            margin-top: 36px;
        }
    }  
    @media screen and (max-width: 320px) {
        .carousel{
            margin-top: 27px;
        }
    }  
   
    /* so that when you scroll you get the element under the header */
    #phones, #Iot{
    scroll-margin-top: 120px;
    }
}

