* {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.Home {
    margin: 0;
    padding: 0;
}

#oppoImg {
    width: 100%;
    height: calc(100vw * 0.556) ;
    margin: 0;
    margin-top: 94px;
}

.OPPO {
    margin: 20px 20px 10px 0;
    text-align: center;
    font-weight:bolder;

}

/* so that when you scroll you get the element under the header */
#phones{
    scroll-margin-top: 120px;
}

#Iot{
    scroll-margin-top: 120px;
}

#logOut {
    float: right;
}