// the way i nest everthing inside one class get me the result of local css
// everthing here will apply only to specific component and will not be global
$font-width: 18px;           


.Header {
    width:100%;
    background-color: white;
    color:white;
    padding: 5px;
    position: fixed;
    border-bottom: 2px solid grey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    .nav-link  {
        /* to make link look like button */
        background: none;
        border: none;
        padding: 0;

        // rest of code
        margin : 10px 10px;
        color: black;
        background-color: white;
        cursor:pointer;
        text-decoration: none;
        font-size: $font-width;
        font-weight: bolder;
        font-family: "Open Sans", sans-serif;

    }
    
    .loginButton, .nav-link {
        margin : 10px 15px;
        padding: 0px;
        text-decoration: none;
        background-color: white;
        color: black;
        font-size: $font-width;
        font-weight: bolder;
        border: none;
        font-family: "Open Sans", sans-serif;
    } 

    @media screen and (max-width: 1024px) {
        .loginButton, .nav-link{
            font-size: 17px;
        }    
    }  
    @media screen and (max-width: 900px) {
        .loginButton, .nav-link{
            font-size: 15px;
        }     
    }
    @media screen and (max-width: 768px) {
        .loginButton, .nav-link{
            font-size: 13px;
            margin : 6px 6px;

        }     
    }  
    @media screen and (max-width: 600px) {
        .loginButton, .nav-link{
            font-size: 11px;
            margin : 6px 6px;
        }     
    }
}






