.header {
    width:100%;
    background-color: black;
    color:white;
    padding: 5px;
    font-size: 20px;
    position: fixed;
    font-weight: bolder;
}

.OPPO {
    margin: 20px 20px 10px 0;
    text-align: center;
    font-weight:bolder;

}