.header {
    width:100%;
    background-color: black;
    color:white;
    padding: 5px;
    font-size: 20px;
    position: fixed;
    font-weight: bolder;
}

.OPPO {
    margin: 20px 20px 10px 0;
    text-align: center;
    font-weight:bolder;

}

.nav-link  {
    margin :0px 20px 10px;
    padding: 0px;
    display: inline;
    float: left;
    color: white;
    background-color: black;
    outline: none;
    cursor:pointer;
    border:none;
    font-size: 20px;
    text-decoration: none;
}


@media screen and (max-width: 992px) {
    .nav-link  {
      font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .nav-link  {
      font-size: 14px;
    }
}

.headerLogin{
    float: right;
} 
