// the way i nest everthing inside one class get me the result of local css
// everthing here will apply only to specific component and will not be global
$font-width: 18px;           
$paddingByVW : 10px;

.myHeader {
    width:100%;
    background-color: white;
    color:white;
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 0 0 black;
   
    .navLink {
        /* to make link look like button */
        background: none;
        border: none;
        padding: $paddingByVW;

        // rest of code
        margin : 0;
        color: black;
        background-color: white;
        cursor:pointer;
        text-decoration: none;
        font-size: $font-width;
        font-weight: bolder;
        font-family: "Open Sans", sans-serif;

    }
    
    .loginButton {
        margin : 0;
        padding: 10px;
        text-decoration: none;
        background-color: white;
        color: black;
        font-size: $font-width;
        font-weight: bolder;
        border: none;
        font-family: "Open Sans", sans-serif;
    } 

    @media screen and (max-width: 900px) {
        .loginButton, .navLink{
            font-size: 13px;
        }     
    }  
    @media screen and (max-width: 360px) {
        .loginButton, .navLink{
            font-size: 11px;
        }     
    }  
    @media screen and (max-width: 320px) {
        .loginButton, .navLink{
            font-size: 11px;
            padding: 5px;
        }     
    }  
}






