.showProductPage {
    display: flex;
    flex-direction: column;
}
.product{
    width: 380px;
    max-width: 380px;
    border:3px solid black;
    margin: 200px auto 405px auto;
    text-align: center;
    box-shadow: 0 3px 3px 0 black;
}

.buyButton {
    border-radius: 5px;
    background-color: black;
    color: white;
    border:none;
    outline: none;
    cursor:pointer;
    font-size: 20px;
    padding: 5px;
    margin : 10px 0 ; 
}

.buyButton:hover{
    background-color: green;
}